/DistanceFinder.class
/ArgsProcessor.class

/DistanceOutput.txt
/BinaryConverter.class
/Encoding.class
/Normalization.class
/ReducibilityAlgorithm.class
/SearchAlgorithm.class
/SortingAlgorithm.class
/WUSS.class
/MethodsList.class
